<!DOCTYPE html>
<html lang="en">

{% include 'recipes/partials/head.html' %}

<body>
  {% include 'recipes/partials/header.html' %}
  {% include 'recipes/partials/search.html' %}

  <main class="main-content-container">
    <div class="main-content main-content-list container">

      <div class="recipe recipe-list-item">
        <div class="recipe-cover">
          <img src="https://placehold.co/1280x720/269fe6/FFF">
          <div class="recipe-title-container">
            <h2 class="recipe-title">Lorem ipsum dolor sit amet.</h2>
          </div>

          <div class="recipe-author">
            <span class="recipe-author-item">
              <i class="fa fa-user"></i>
              Gabriel Navas
            </span>
            <span class="recipe-author-item">
              <i class="fa fa-calendar-alt"></i>
              16/10/2021 às 11:21
            </span>
            <span class="recipe-author-item">
              <a href="#">
                <i class="fas fa-layer-group"></i>
                <span>Café da manhã</span>
              </a>
            </span>
          </div>

          <div class="recipe-content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem itaque nihil, exercitationem
              molestias velit magnam assumenda natus tempora illum minima quibusdam dolorem id sed laboriosam totam
              repellendus hic quae ipsa eius perspiciatis nulla iure consectetur. A repudiandae distinctio debitis
              eligendi veniam, maiores nemo perferendis, inventore, eius sunt cupiditate ipsam minima!</p>
          </div>
        </div>
      </div>

    </div>
  </main>
</body>

</html>